body{
    background-image:url('bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
nav{
    width:100%;
    height:50px;
    display: flex;
    justify-content: space-between;
}
.logo-1{
  height:50px;
  width:100px;
  margin-left:20px;
  border-radius: 10px;
}
ul{
    display:flex;
    color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    list-style: none;
    justify-content: space-around;
    gap:3rem;
}
ul li{
    display:flex;
}
.sign-up{
  height: 30px;
  width:70px;
  border:2px solid black;
  background: linear-gradient(135deg, #9D4EDD, #4FC3F7);
  border-radius:10px;
  color:rgb(17, 17, 17);
  display:flex;
  align-items: center;
  justify-content: center;
}
.login{
     height: 30px;
  width:70px;
  border:2px solid black;
  background: linear-gradient(135deg, #9D4EDD, #4FC3F7);
  border-radius:10px;
  color:rgb(17, 17, 17);
  display:flex;
  align-items: center;
  justify-content: center;
}
.signups{
   display:flex;
   gap:1rem;
}

/* ------ */
.Container{
    margin-top:90px;
    color: rgba(255, 255, 255, 0.5);
    display:flex;
    justify-content: center;
    align-content: center;
    font-size: 20vh;
    font-family: 'Poppins', sans-serif;
    text-decoration-thickness:1px;
    font-weight:normal;
    /* --- */
    transition-property: Container;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(0.93, -0.61, 1, 1);
    transition-delay:2s;

}
.under{
 color: rgba(255, 255, 255, 0.5);
    display:flex;
    justify-content: center;
    align-content: center;
    font-size: 8vh;
    font-family: 'Poppins', sans-serif;
    text-decoration:overline;
    text-decoration-thickness:1px;
    font-weight:normal;
}
